*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    overflow: hidden;
    background-color: hsla(212, 45%, 89%,0.7);
}
.main{
    display:flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 440px;
    margin-top: calc((100vh - 440px)/2);
    margin-bottom: calc((100vh - 440px)/3);
    border-radius: 20px;
    background-color:hsl(0, 0%, 100%);
    padding-bottom: 30px;
}
.img-div{
    height: 65%;
    width: 100%;
    padding: 13px 13px 0 13px;
}
img{
    border-radius: 10px;
    width:100%;
    height:100%
}
.container h5{
    font-size: 1.2rem;
    font-family: Tahoma;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding:5px 20px 0 20px;
    text-align: center;
    margin: 20px auto 0 auto;
}
.container p{
    font-size: 1rem;
    font-family: Tahoma;
    font-weight: 400;
    color: hsla(218, 44%, 22%,0.7);
    font-weight: 500;
    padding:0 25px;
    text-align: center;

}
.attribution { 
    text-align: center; 
    font-size: 1rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    
}
@media only screen and (max-width:500px){
    .container{
        width:90%;
        height:80%;
        position: fixed;
        top:33%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .img-div{
        height:60%;
    }
    .container h5{
        font-size: 1.5rem;
    }
    .container p{
        font-size: 1.2rem;
    }
    .attribution{
        display: none;
    }
}